/*
    Styling in this and other .scss files will be compiled by the sbt-sass-compiler plugin: https://github.com/hmrc/sbt-sass-compiler
    If you encounter any issue with Sass compilation using the plugin, please reach out to the PlatUI team.
 */

@import "lib/govuk-frontend/dist/govuk/base";
@import "lib/govuk-frontend/dist/govuk/base";
@import "lib/hmrc-frontend/hmrc/all";


.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #f0f0f0; // fixed typo
  border: 1px solid #dee0e2;
  margin-bottom: 20px;
}

// Card body
.card .card-body {
  border-bottom: 1px solid #dee0e2;
  display: block;
  padding: 12px;
  min-height: 120px; // slightly increased for visual balance
  background-color: #f0f0f0;
}

// Sub-heading styles
.card .card-body .card-sub-heading span {
  display: block;
  color: #505a5f;
}

.card .card-body .card-sub-heading span.font-large.bold {
  color: #0b0c0c;
  font-size: 32px;
}

.card .card-action {
  padding: 12px;
  background-color: #ffffff;
}

.card .card-action ul {
  margin-bottom: 0;
}

.card .card-action ul li {
  margin: 0 0 1em;
}
